
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<div style="margin-top:2%;">
    <div id="izq">
        <div>
            <input class="col-sm-offset-9" type="file" id="file-input" />
        </div>
    </div>


    <div style="margin-top: 2%">
        <table id="tblUsuarios" class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Editar</th>
                    <th class="text-center" scope="col">IdUsuario</th>
                    <th class="text-center" scope="col">Nombre</th>
                    <th class="text-center" scope="col">Apellido Paterno</th>

                    <th class="text-center" scope="col">Eliminar</th>
                </tr>

            </thead>
            <tbody></tbody>
        </table>
    </div>

</div>
<script src="~/Scripts/UsuarioPrueba/Acciones.js" type="text/javascript"></script>


